{% extends '::base.html.twig' %} 

{% block title %}Compétences - {{ action }}{% endblock %}

{% block body %} 
<div class="addupdentity" id="personnage">
    <div class="title">
        <span class="libaction">{{ action }}</span> d'une compétence 
    </div>

    <div class="addupdbody">
		<div class="competenceform">
			{{ form(form) }}
		</div>
	</div>
    <div class="action">
        <div id="retour">
			<a href="{{ path('omg_competences_homepage') }}" alt="Retour">Retour</a>
		</div>
	</div>
</div>
{% endblock %}
